<!DOCTYPE html>
<html lang="pt-br">
    <head>

        {% block head %}
            <title>Moabe Luis</title>
        {% endblock %}

        <link rel="stylesheet" href="/styles.css">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Moabe Luis</title>
    </head>
    <body>
            <header>
                <div class="links">
                    <a href="/">Sobre</a>
                    <a href="/Aulas.njk">Aulas</a>
                </div>    
            </header>  

            {% block content %}{% endblock %}
            
    </body>
</html>